*{
    padding: 0px;
    margin: 0px;
}

header{

    background-color: #636e72;
    height: 90px;
    width: 100%;
}

header h1{

    color: oldlace;
}

.logo{

    padding: 10px 10px 2px 25px;
    
}

.menu{
    list-style:none; 
    border:1px solid #c0c0c0; 
    display: inline;
    
}


.menu li{
    position:relative; 
    float:left; 
    border-right:1px solid #c0c0c0; 
    list-style-type: none;
}

.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}
 
.menu li a:hover{
    background:#333; 
    color:#fff; 
    -moz-box-shadow:0 3px 10px 0 #CCC; 
    -webkit-box-shadow:0 3px 10px 0 #ccc; 
    text-shadow:0px 0px 5px #fff; 
}

.menu li  ul{
    position:absolute; 
    top:25px; 
    left:0;
    background-color:#fff; 
    display:none;
}  

